:root {
    --body-bg: #244435;
    --container-bg: #fff3e7;
    --orange-regular: orange;
}

.container {
    /* width: 100%; */
}

#login,
#register,
#create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: var(--orange-regular);
    background-color: var(--body-bg);
    font-weight: 600;
    border: 7px solid var(--body-bg);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 3rem;
    /* margin: 6rem 10rem 6rem 10rem; */
}

/* LOGIN, REGISTER AND CREATE SIDE IMG */

.login-side,
.register-side,
.create-side {
    /* width: 50%; */
}

.login-side img,
.register-side img,
.create-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* LOGIN, REGISTER AND CREATE WRAP INPUT */

.login-wrap,
.register-wrap,
.create-wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* width: 50%; */
    background-color: var(--body-bg);
}

.login-wrap h2,
.register-wrap h2,
.create-wrap h2 {
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    padding: 1rem 2rem;
}

.login-wrap .button,
.register-wrap .button,
.create-wrap .button {
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-decoration: none;
    color: var(--orange-regular);
    background-color: var(--body-bg);
    border: none;
    transition: background-color 0.75s;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
}

.login-wrap .button:hover,
.register-wrap .button:hover,
.create-wrap .button:hover {
    cursor: pointer;
    color: var(--container-bg);
    background-color: var(--orange-regular);
    color: var(--container-bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-wrap .disabled:hover,
.register-wrap .disabled:hover,
.create-wrap .disabled:hover {
    cursor: pointer;
    color: var(--container-bg);
    background-color: gray;
    color: var(--container-bg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-wrap p,
.register-wrap p,
.create-wrap p {
    font-size: 1.2rem;
    padding: 1rem;
    letter-spacing: 0.5px;

}

.login-wrap a,
.register-wrap a,
.create-wrap a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: var(--container-bg);
    letter-spacing: 1.5px;
    font-weight: 600;
    transition: transform 300ms ease-in-out;
}

.login-wrap a:hover,
.register-wrap a:hover,
.create-wrap a:hover {
    color: orange;
    text-decoration: underline;
}

.login-wrap i,
.register-wrap i,
.create-wrap i {
    font-size: 1.5rem;
    padding-right: 1rem;
}

#login-form,
#register-form,
#create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.username-wrap>label>i,
.email-wrap>label>i,
.password-wrap>label>i,
.rePass-wrap>label>i {
    cursor: pointer;
}

.nftName-wrap>label>i,
.imageUrl-wrap>label>i,
.price-wrap>label>i,
.description-wrap>label>i,
.comment-wrap>label>i {
    cursor: pointer;
}

.username-wrap,
.email-wrap,
.password-wrap,
.rePass-wrap,
.nftName-wrap,
.imageUrl-wrap,
.price-wrap,
.description-wrap,
.comment-wrap {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--container-bg);
    background-color: var(--container-bg);
    border-radius: 8px;
}

#username,
#email,
#password,
#rePass,
#nftName,
#imageUrl,
#price,
#description,
#comment {
    width: 100%;
    color: var(--body-bg);
    background-color: var(--container-bg);
    border: none;
    font-size: 1.5rem;
    padding: 4px;
    border-bottom: 1px solid var(--container-bg);
}

/* TODO FIND PROPER SYNTAX FOR THE FOLLOWING: */
#price {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

#description {
    resize: none;
    height: 30px;
}

#username:focus,
#email:focus,
#password:focus,
#rePass:focus,
#nftName:focus,
#imageUrl:focus,
#price:focus,
#description:focus,
#comment:focus {
    outline: none;
    border-bottom: 1px solid var(--body-bg);
}

#login-form .validated,
#register-form .validated,
#create-form .validated {
    visibility: hidden;
}

.not-validated {
    color: var(--orange-regular);
}

.orange {
    color: var(--orange-regular);
}

.green {
    color: green;
}

.red {
    color: red;
}

.create-btn-holder input{
margin: 0rem 1rem;
}

/* CREATE COMMENT */

.title-add {
    font-size: 1.5rem;
    color: var(--container-bg);
}

/* MEDIA QUERY */

@media screen and (min-width: 800px) {

    #login,
    #register,
    #create {
        margin: 1rem 2rem;
    }

    .login-wrap,
    .register-wrap,
    .create-wrap {
        margin: 3rem 8rem;
    }

    article.create-wrap {
        margin: 1rem 8rem;
        ;
    }
}

@media screen and (min-width: 1200px) {

    #login,
    #register,
    #create {
        flex-direction: row;
        margin: 3rem 8rem;
    }

    .login-side,
    .register-side,
    .create-side {
        width: 50%;
        /* padding: 0; */
        margin: 0;
    }

    .login-wrap,
    .register-wrap,
    .create-wrap {
        width: 50%;
        padding: 1.5rem 0;
        margin: 0;
    }

    article.create-wrap {
        margin: 1rem 0rem;
    }

    #register, #create {
        flex-direction: row-reverse;
    }
}