@import url('./reset.css');

:root {
  --body-bg: #244435;
  --container-bg: #fff3e7;
  --orange-regular: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}


body {
  box-sizing: border-box;
  background-color: var(--body-bg);
  font-family: 'Permanent Marker', cursive;
  color: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--container-bg);
  max-width: 1920px;
  box-shadow: rgba(255, 243, 231, 0.05) 0px 8px 24px, rgba(255, 243, 231, 0.05) 0px 16px 56px, rgba(255, 243, 231, 0.05) 0px 24px 80px;
}


/* HEADER */
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 2.5px;
  font-weight: 600;
  padding-bottom: 7rem;
  max-width: 100%;
}

#header .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
  font-size: 1.6rem;
}

#header .logo {
  padding-left: 1rem;
  z-index: 1;
}

#header .toggle-button {
  cursor: pointer;
}

#header a {
  text-decoration: none;
  color: var(--body-bg);
}

#header li a {
  font-size: 1.2rem;
}

#header .toggle-button {
  padding-right: 1rem;
  font-size: 1.8rem;
  z-index: 1;
}

#header .nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: 3.5rem;
  gap: 18px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#header .nav.dropdown {
  display: none;
}

#header ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 100%;
  transition: transform 300ms ease-in-out;
}

#header ul li a {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  color: var(--orange-regular);
  transition: background-color 0.75s;
}

#header ul li a:hover {
  color: var(--container-bg);
  background-color: var(--orange-regular);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#header .fa-times {
  color: var(--orange-regular)
}

/* MAIN */

#main {
  display: flex;
  flex-direction: column;
}

/* HERO */

#main .hero {
  margin-top: 3rem;
  text-align: center;
  max-width: 100%;
  padding: 1rem 1rem;
  line-height: 1.2;
  font-weight: 500;
  padding-bottom: 3rem;
}

#main .hero .welcome {
  font-size: 4rem;
  padding-bottom: 3rem;
}

#main .hero .desc {
  font-size: 1.5rem;
  padding-bottom: 3rem;
  font-weight: 100;
  margin: 1rem;
}

#main .hero .explore-btn {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 6px;
  border: 1px solid var(--body-bg);
  border-radius: 6px;
  background-color: var(--body-bg);
  color: var(--container-bg);
  transition: background-color 0.75s;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main .hero .explore-btn:hover {
  background-color: var(--container-bg);
  color: var(--body-bg);
  border-color: var(--container-bg);
  box-shadow: none;
}

/* SAMPLE PICS */

#main .sample-pics {
  width: 99%;
  padding: 5rem 0rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2.5rem;
  grid-template-areas:
    ".  pic1 pic1 pic1"
    "pic2 pic2 pic2 ."
    ". pic3 pic3 pic3";
  position: relative;
  top: 0;
  left: 0;
}

#main .sample-pics div:nth-child(1) {
  grid-area: pic1;
}

#main .sample-pics div:nth-child(2) {
  grid-area: pic2;
}

#main .sample-pics div:nth-child(3) {
  grid-area: pic3;
}

#main .sample-pics .img-holder {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
}

#main .sample-pics img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--body-bg);
  overflow: hidden;
  transition: transform 300ms ease-in-out;
}

#main .sample-pics img:hover {
  transform: scale(1.2);
}


#main .sample-pics .orange {
  position: absolute;
  top: 0;
  left: 35%;
  width: 30%;
  height: 1350px;
  background-color: var(--orange-regular);
  z-index: 0;
}

/* FOOTER */

#footer {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  padding: 6rem 1rem;
  justify-content: center;
  align-items: center;
}

#footer .author-info {
  font-size: 1.5rem;
  text-align: center;
  color: var(--orange-regular);
  padding: 1rem 1rem;
}

#footer .media-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

#footer .media-links li {
  padding: 0rem 0.5rem;
}

#footer .media-links li i {
  transition: all 300ms ease-in-out;
}

#footer .media-links li i.fa-facebook:hover {
  color: #4867aa;
  transform: scale(1.2);
}

#footer .media-links li i.fa-discord:hover {
  color: #5562ea;
  transform: scale(1.2);
}

#footer .media-links li i.fa-github:hover {
  color: purple;
  transform: scale(1.2);
}

#footer .media-links li a i {
  font-size: 2.75rem;
  color: var(--body-bg);
}

/* PROFILE PAGE */

.profile {
  border: 2px solid var(--body-bg);
  border-radius: 8px;
  color: var(--container-bg);
  background-color: var(--body-bg);
}

.profile-title {
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  letter-spacing: 1.5px;
}

.profile-secondary {
  font-size: 1.5rem;
  padding-bottom: 3rem;
  letter-spacing: 1.5px;
}

/* 404 NOT FOUND */

.not-found {
  font-size: 3.5rem;
}

.not-found h1,
.not-found h2 {
  padding: 1.5rem 0rem;
}

/* MEDIA QUERY */

@media screen and (min-width: 500px) {
  #main .sample-pics .sample-img {
    aspect-ratio: 1.5/1.2;
    height: auto;
  }

  #header .head .logo {
    font-size: 2.5rem;
  }

  #header .head .toggle-button {
    font-size: 2.7rem;
  }

  #header li a {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 800px) {
  .container {
    width: 800px;
  }

  #header {
    align-items: center;
  }

  #header .toggle-button {
    visibility: hidden;
  }

  #header .head {
    justify-content: center;
  }

  .container #header .nav,
  .container #header .nav.dropdown {
    display: flex;
    padding-top: 5rem;
    flex-direction: row;
    justify-content: space-around;
    max-width: 800px;
  }

  .container #header ul {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #header .logo {
    padding-left: 3rem;
  }

  .profile {
    /* margin: 2rem 5rem; */
    width: 500px;
  }
}

@media screen and (min-width: 1200px) {

  body {
    max-width: 1920px;
  }

  .container {
    max-width: 1700px;
    width: 90vw;
    border-radius: 10px;
    margin: 5rem 4rem;
    padding: 0.5rem 0.5rem;
  }

  .container #header .nav,
  .container #header .nav.dropdown {
    max-width: 1200px;
  }

  #main.home {
    display: flex;
    flex-direction: row;
  }

  #main.home .hero {
    width: 70%;
  }

  .profile {
    width: 800px;
  }
}